# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

#unignore makefiles
!Makefile

### Above combination will ignore all files without extension ###
*.vscode
*.o
interview/*
